/*Resets*/

body, container, ul, li, section, a, p {
  margin: 0;
  padding: 0;
  font-style: inherit;
  display: block;
}


a {
  text-decoration: none;
}

body {

  width: 80%;
  margin: auto;
  display: block;
  font-family: sans-serif;
  font-size: 20px;
}

.contact {
  display: block;
  margin: 250px 0 0 400px;
  
}

.contact li{
  margin: 25px;
  float: left;
}

.contact a {
  letter-spacing: 3px;
  text-decoration: underline;
  font-size: 25px;
}

nav {
  position: fixed;
  padding-right: 20px;
  border-right: solid #ccc 1px;
  height: 100%;
}

nav li a {
  padding: 15px 0 0 0;
  font-weight: bold;
  color: #888;
  letter-spacing: 2px;
  font-family: 'Patua One', cursive;
}

nav li a:hover {
  color: #368BCD;
}

body .title {
  display: block;
  margin: 15px 0 40px 0;
}

.title h1 {
  letter-spacing: 3px;
  display: block;
  width: 300px;
  font-size: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: auto;
}

#my-pic {
  box-shadow: 5px 2px 15px  2px #888888;
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 170px;
  margin-right: 20px;
  border-radius: 500px;
  	-webkit-border-radius: 500px;
  	-moz-border-radius: 500px;
}

#glossol-prev {
  margin: 20px 0 40px 0;
  display: block;
  width: 850px;
  height: 500px;
  box-shadow: 6px 9px 20px  4px #888888;
}

.demo {
  margin-left: 200px;
}

.demo a {
  font-weight: bold;
  display: inline;
  margin-right: 10px;
}

.links {
  display: block;
  margin: 10px 10px 30px 0;
}

.demo h1 {
  font-size: 30px;
}

.demo h2 {
  font-size: 22px;
}

#sock-prev {
  height: 500px;
  box-shadow: 6px 9px 20px  4px #888888;
}

#aster {
  height: 500px;
  width: 500px;
  box-shadow: 6px 9px 20px  4px #888888;
  
}

main {
  padding-left: 30px;
}

.bio {
  margin-bottom: 80px;  
  font-weight: 200;
}

.intro {
  padding: 80px 0 0 250px;
  font-family: 'Open Sans', sans-serif;
  
}


/*Utilities*/

.group:after {
  content: "";
  display: block;
  clear: both;
}

  
